@charset "UTF-8";
@font-face {
    font-family: "Manrope";
    src: url("../fonts/fonts-astralMarkirovka/Manrope-Bold.woff2") format("woff2"),
        url("../fonts/fonts-astralMarkirovka/Manrope-ExtraBold.woff") format("woff"); 
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/fonts-astralMarkirovka/Manrope-Bold.woff2") format("woff2"),
    url("../fonts/fonts-astralMarkirovka/Manrope-Bold.woff") format("woff");
    /*url("manrope-bold.otf") format("truetype");*/
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/fonts-astralMarkirovka/Manrope-SemiBold.woff2") format("woff2"),
    url("../fonts/fonts-astralMarkirovka/Manrope-SemiBold.woff") format("woff");
    /*url("manrope-semibold.otf") format("truetype");*/
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/fonts-astralMarkirovka/Manrope-Medium.woff2") format("woff2"),
    url("../fonts/fonts-astralMarkirovka/Manrope-Medium.woff") format("woff");
    /*url("manrope-medium.otf") format("truetype");*/
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/fonts-astralMarkirovka/Manrope-Regular.woff2") format("woff2"),
    url("../fonts/fonts-astralMarkirovka/Manrope-Regular.woff") format("woff");
    /*url("manrope-regular.otf") format("truetype");*/
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/fonts-astralMarkirovka/Manrope-Light.woff2") format("woff2"),
    url("../fonts/fonts-astralMarkirovka/Manrope-Light.woff") format("woff");
    /*url("manrope-light.otf") format("truetype");*/
    font-style: normal;
    font-weight: 300;
}

/*body, html {*/
/*    font-family: "Manrope", sans-serif;*/
/*}*/

*, *:before, *:after {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}