body {
    font-family: "Manrope";
    font-weight: 500;
    font-size: 20px;
    background-color: #E5E5E5;
    line-height: normal;
}

mark {
    background-color: #ECE341;
    padding: 0;
}

button {
    border: none;
}

p {
    margin: 0;
}

.sec1 {
    height: 520px;
}

.logo {
    padding-left: 25px;
    border-left: 1px solid #D6D6D6;
}

.title1 {
    font-weight: 800;
    font-size: 72px;
    color: #000;
    line-height: 80px;
}

.text1 {
    font-size: 32px;
    color: #000;
}

.title2 {
    font-size: 48px;
    color: #000;
    font-weight: 700;
    line-height: normal;
}

.text2 {
    font-size: 16px;
}

.title3 {
    color: #000;
    font-weight: 700;
}

.text {
    color: #000;
}

.step {
    font-size: 28px;
    color: #000;
    padding: 10px;
    background-color: #ECE341;
}

.header_items {
    width: 100%;
    height: 170px;
    padding: 40px 20px 60px;
    display: flex;
    justify-content: space-between; 
}

.header_btn,
.footer_btn {
    width: 220px;
    height: 70px;
    background: #ECE341;
    border-radius: 10px;
    font-weight: 800;
    font-size: 11.5px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    padding: 30px 15px 30px 80px;
    position: relative;
    margin-right: 25px;
}

.header_btn::before,
.footer_btn::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 30px;
    background-image: url(../img/img-astralMarkirovka/marc.svg);
    background-position: center;background-repeat: no-repeat;
    background-size: cover;
}

.tel {
    padding-left: 50px;
    position: relative;
    margin: 20px 0;
}

.tel::before,
.tel::after,
.right_sec1::after,
.right_sec1::before,
.sec2_img::before,
.sec3_img::before,
.right_step1::before,
.left_step2::before,
.righet_step3::before,
.left_step4::before,
.righet_step5::before,
.left_step6::before,
.righet_step7::before,
.require_img::before,
.footer_phone::before,
.footer_phone::after,
.footer_email::before,
.footer_email::after,
.footer_astral::before {
    content: '';
    position: absolute;
    background-position: center;background-repeat: no-repeat;
    background-size: cover;
}

.tel::before {
    width: 40px;
    height: 40px;
    left: 0;
    bottom: -3px;
    background-color: #ECE341;
    border-radius: 50%;
}

.tel::after {
    width: 24px;
    height: 24px;
    left: 7px;
    bottom: 5px;
    background-image: url(../img/img-astralMarkirovka/phone.svg);
}

.tel a {
    color: #000;
    line-height: 26px;
}


.right_sec1 {
    position: relative;
}

.right_sec1::after {
    width: 621px;
    height: 621px;
    top: -170px;
    right: -100px;
    border-radius: 0px 0px 0px 60px;
    z-index: -1;
    background-color: #FFF;
}

.right_sec1::before {
    width: 530px;
    height: 651px;
    top: -100px;
    right: 0;
    background-image: url(../img/img-astralMarkirovka/IMG__header.png);
}

.sec2_title {
    margin-bottom: 55px;
}

.sec2_img {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    background-color: #FFF;
}

.sec2_inner {
    display: flex;
    margin-top: 40px;
}

.sec2_items {
    margin-right: 30px;
    width: 370px;
}

.sec2_items:last-child {
    margin-right: 0;
}

.sec2_img {
    margin-bottom: 25px;
    position: relative;
}

.barcode::before,
.face::before,
.move::before {
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 28px;
}

.barcode::before {
    background-image: url(../img/img-astralMarkirovka/icon-barcode.svg);
}

.face::before {
    background-image: url(../img/img-astralMarkirovka/icon-face.svg);
}

.move::before {
    background-image: url(../img/img-astralMarkirovka/icon-move.svg);
}

.sec3_title {
    margin-top: 100px;
    margin-bottom: 55px;
}

.sec3_inner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.sec3_items {
    width: 469px;
    display: flex;
    margin-bottom: 55px;
}


.sec3_img {
    position: relative;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    background-color: #ECE341;
    margin-right: 25px;
}

.sec3_text {
    width: 349px;
}

.busines::before,
.flesh::before,
.desctop::before,
.databas::before,
.commo::before,
.cogs::before {
    width: 56px;
    height: 56px;
    bottom: 20px;
    right: 18px;
}

.busines::before {
    background-image: url(../img/img-astralMarkirovka/icon-business-contract.svg);
}

.flesh::before {
    background-image: url(../img/img-astralMarkirovka/icon-flash.svg);
}

.desctop::before {
    background-image: url(../img/img-astralMarkirovka/icon-password-desktop.svg);
}

.databas::before {
    background-image: url(../img/img-astralMarkirovka/icon-database.svg);
}

.commo::before {
    background-image: url(../img/img-astralMarkirovka/icon-common-file.svg);
}

.cogs::before {
    background-image: url(../img/img-astralMarkirovka/icon-cog.svg);
}

.step1,
.step2,
.step3,
.step4,
.step5,
.step6,
.step7 {
    margin-top: 200px;
}

.step_inner {
    display: flex;
}

.left_step1,
.righet_step2,
.left_step3,
.righet_step4,
.left_step5,
.righet_step6,
.left_step7 {
    width: 60%;
}

.right_step1,
.left_step2,
.righet_step3,
.left_step4,
.righet_step5,
.left_step6,
.righet_step7 {
    width: 40%;
}

.step1_title,
.step2_title,
.step3_title,
.step4_title,
.step5_title,
.step6_title,
.step7_title {
    margin-bottom: 40px;
}

.step1_step,
.step2_step,
.step3_step,
.step4_step,
.step5_step,
.step6_step,
.step7_step {
    margin-bottom: 30px;
}

.step1_t2 {
    margin: 30px 0;
}

.step1_t3 {
    margin-bottom: 10px;
}

.step1_list-item {
    margin-top: 10px;
}

.right_step1,
.left_step2,
.righet_step3,
.left_step4,
.righet_step5,
.left_step6,
.righet_step7 {
    position: relative;
}

.right_step1::before,
.left_step2::before,
.righet_step3::before,
.left_step4::before,
.righet_step5::before,
.left_step6::before,
.righet_step7::before {
    width: 550px;
    height: 600px;
}

.right_step1::before {
    right: -110px;
    bottom: 60px;
    background-image: url(../img/img-astralMarkirovka/Ill\ step\ 1.png);
}


.left_step2::before {
    left: -110px;
    top: -140px;
    background-image: url(../img/img-astralMarkirovka/Ill\ step2.png);
}

.righet_step3::before {
    right: -110px;
    bottom: 60px;
    background-image: url(../img/img-astralMarkirovka/Ill\ step\ 3.png);
}

.left_step4::before {
    left: -110px;
    top: -140px;
    background-image: url(../img/img-astralMarkirovka/Ill\ step\ 4.png);
}

.righet_step5::before {
    right: -110px;
    bottom: -130px;
    background-image: url(../img/img-astralMarkirovka/Ill\ step\ 5.png);
}

.left_step6::before {
    left: -110px;
    top: -140px;
    background-image: url(../img/img-astralMarkirovka/Ill\ step\ 6.png);
}

.righet_step7::before {
    right: -110px;
    bottom: -130px;
    background-image: url(../img/img-astralMarkirovka/Ill\ step\ 7.png);
}


.step3_t-list {
    display: flex;
    flex-wrap: wrap;
}

.step3_t-2 {
    margin-left: 30px;
}

.step3_t {
    width: 410px;
}

.step3_t-list li {
    margin-bottom: 10px;
}

.require_inner {
    margin-top: 115px;
    background-color: #FBF7AD;
    display: flex;
    padding: 40px 100px 40px 75px;
}

.require_img {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #FFF;
    margin-right: 45px;
    margin-top: 10px;
}

.require_img::before {
    width: 70px;
    height: 70px;
    bottom: 5px;
    left: 5px;
    background-image: url(../img/img-astralMarkirovka/ion_alert-circle-outline.svg);
}

.require_text {
    width: 800px;
}

.require_t1 {
    margin-bottom: 20px;
}

.on_inner {
    margin-top: 30px;
    background-color: #FFF;
    padding: 80px 100px;
}

.on_items {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.on_text {
    width: 628px;
}

.on_btn {
    padding: 30px 50px;
    background-color: #ECE341;
    font-size: 18px;
    font-weight: 700;
    width: 260px;
    height: 83px;
}

.footer {
    margin: 70px 0;
}

.footer_inner {
    padding: 0 20px;
}

.footer_top {
    display: flex;
    justify-content: space-between;
}



.footer_top-text2 {
    padding-top: 40px;
}

.footer_bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.footer_bottom-kontakts {
    display: flex;
}

.footer_bottom-text2 {
    width: 365px;
}

.footer_phone,
.footer_email,
.footer_astral {
    display: inline-block;
    margin-left: 25px;
}

.footer_phone,
.footer_email {
    position: relative;
    padding-left: 50px;
    font-size: 16px;
    color: inherit;
    padding-top: 15px;
}

.footer_phone::before,
.footer_email::before {
    width: 40px;
    height: 40px;
    left: 0;
    bottom: 10px;
    background-color: #ECE341;
    border-radius: 50%;
}

.footer_phone::after,
.footer_email::after {
    width: 24px;
    height: 24px;
    left: 9px;
    bottom: 17px;
}

.footer_phone::after {
    background-image: url(../img/img-astralMarkirovka/phone.svg);
}

.footer_email::after {
    background-image: url(../img/img-astralMarkirovka/meseng.svg);
}

.footer_astral {
    position: relative;
    width: 96px;
    height: 40px;
    background-color: #FFF;
}

.footer_astral::before {
    width: 82px;
    height: 41px;
    left: 5px;
    bottom: 0;
    background-image: url(../img/img-astralMarkirovka/astral.svg);
}



/*PORTFOLIO SINGLE PAGE

........................................ */
.portfolio-sigle-page {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}


.button-back {
    font-weight: 700;
    text-decoration: none;
    color: #0052C2;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    
    display: inline-block;
    
    border-width: 2px;
    border-color: #0052C2;
    border-style: solid;
    border-radius: 50px;
    
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    padding-right: 23px;
    
    margin-bottom: 13px;
    
    transition: 0.2s ease-out;
       
}


.button-back:hover {
    color: #FFF;
    background-color: #0052C2;
    
}


/* ........................................

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/




@media (max-width: 990px) {
    .sec2 {
        margin-top: 100px;
    }

    .sec3 {
        margin-bottom: 250px;
    }

    .step1,
    .step2,
    .step3,
    .step4,
    .step5,
    .step6,
    .step7 {
        margin-top: 200px;
    }

    .right_step1::before,
    .left_step2::before,
    .righet_step3::before,
    .left_step4::before,
    .righet_step5::before,
    .left_step6::before,
    .righet_step7::before {
        width: 275px;
        height: 300px;
    }


    .header_items {
        flex-direction: column-reverse;
        padding: 30px 20px 30px;
    }

    .right_sec1::after {
        width: 222px;
        height: 199px;
        right: 316px;
        top: 360px;
        border-radius: 60px;
    }

    .right_sec1::before {
        width: 250px;
        height: 310px;
        top: 300px;
        right: 350px;
    }

    .right_step1::before {
        right: 20px;
        bottom: 650px;
    }

    .left_step2::before {
        left: 25px;
        top: -290px;
    }

    .righet_step3::before {
        right: 20px;
        bottom: 650px;
    }

    .left_step4::before {
        left: 25px;
        top: -290px;
    }

    .righet_step5::before {
        right: 20px;
        bottom: 410px;
    }

    .left_step6::before {
        left: 25px;
        top: -290px;
    }

    .righet_step7::before {
        right: 20px;
        bottom: 320px;
    }

    .left_step1,
    .righet_step2,
    .left_step3,
    .righet_step4,
    .left_step5,
    .righet_step6,
    .left_step7 {
        width: 100%;
    }

    .right_step1,
    .left_step2,
    .righet_step3,
    .left_step4,
    .righet_step5,
    .left_step6,
    .righet_step7 {
        width: 0%;
}

    .left_step1,
    .righet_step2,
    .left_step3 {
        margin-bottom: 130px;
}

    .righet_step4 {
        margin-bottom: 100px;
}

    .left_step5{
        margin-bottom: 150px;
}

    .righet_step6 {
        margin-bottom: 150px;
    }

    .step3_t {
    width: 100%;
}

.require_inner {
    flex-wrap: wrap;
    padding: 20px;
}

.require_img {
    margin-bottom: 10px;
}

.on_items {
    flex-direction: column;
}

.on_inner {
    padding: 20px;
}

.on_text {
    width: 100%;
    margin-bottom: 10px;
}

.footer_top {
    flex-direction: column;
}

.footer_bottom {
    flex-direction: column;
    margin-top: 25px;
}

.footer_bottom-kontakts {
    flex-direction: column;
}

.footer_phone,
.footer_email,
.footer_astral {
    display: block;
    margin: 0 auto;
}

.footer_phone,
.footer_email {
    padding-bottom: 20px;
}

.footer_top-text2,
.footer_bottom-text2 {
    text-align: center;
}

.footer_bottom-text2 {
    padding-bottom: 20px;
    margin: 0 auto;
    width: 220px;
}

.footer_top-logo-btn {
    margin: 0 auto;
}

}


/* ----------------------------------------------------------------------------------------------------------------------- */


@media (max-width: 768px) {
    .sec2_inner {
        flex-direction: column;
        margin-top: 40px;
}

.right_sec1::before {
    width: 250px;
    height: 310px;
    top: 10px;
    right: 250px;
}

.right_sec1::after {
    width: 222px;
    height: 199px;
    right: 215px;
    top: 60px;
    border-radius: 60px;
}

.right_step1::before {
    right: 215px;
    bottom: 960px;
}

.righet_step3::before {
    right: 235px;
    bottom: 750px;
}

.righet_step5::before {
    right: 235px;
    bottom: 550px;
}

.righet_step7::before {
    right: 235px;
    bottom: 470px;
}
}
/* ------------------------------------------------------------------------------------------------------------------ */

@media (max-width: 340px) {
    .header_items {
        flex-direction: column-reverse;
        padding: 30px 20px 30px;
    }

    .header_btn {
        width: 138px;
        height: 48px;
        font-size: 10px;
        padding: 20px 15px 20px 50px;
        margin-right: 10px;
    }

    .logo {
        padding-left: 10px;
    }
        

    .header_btn::before,
    .footer_btn::before {
        width: 32px;
        height: 32px;
        left: 10px;
    }

    .tel::before {
        width: 36px;
        height: 36px;
        bottom: -5px;
        left: 0;
    }

    .tel::after {
        width: 20px;
        height: 20px;
        bottom: 3px;
        left: 8px;
    }

    .title1 {
        font-size: 28px;
        line-height: normal;
    }

    .text1 {
        font-size: 14px;
    }

    .text {
        font-size: 14px;
    }

    .title2 {
        font-size: 24px;
    }

    .text2 {
        font-size: 10px;
    }

    .step {
        font-size: 20px;
        padding: 8px;
    }

    .right_sec1::after {
        width: 222px;
        height: 199px;
        right: 45px;
        top: 190px;
        border-radius: 60px;
    }

    .right_sec1::before {
        width: 250px;
        height: 310px;
        top: 145px;
        right: 65px;
    }

    .sec2_inner {
        flex-direction: column;
    }

    .sec2_items {
        width: 300px;
    }

    .sec3_items {
        flex-direction: column;
    }

    .sec3_text {
        width: 300px;
    }

    .sec3_items:last-child {
        margin-bottom: 215px;
    }

    .step1,
    .step2,
    .step3,
    .step4,
    .step5,
    .step6,
    .step7 {
    margin-top: 150px;
}

    .right_step1::before,
    .left_step2::before,
    .righet_step3::before,
    .left_step4::before,
    .righet_step5::before,
    .left_step6::before,
    .righet_step7::before {
        width: 275px;
        height: 300px;
    }


    .right_step1::before {
        right: 20px;
        bottom: 740px;
    }

    .left_step2::before {
        left: 25px;
        top: -290px;
    }

    .righet_step3::before {
        right: 20px;
        bottom: 650px;
    }

    .left_step4::before {
        left: 25px;
        top: -290px;
    }

    .righet_step5::before {
        right: 20px;
        bottom: 410px;
    }

    .left_step6::before {
        left: 25px;
        top: -290px;
    }

    .righet_step7::before {
        right: 20px;
        bottom: 320px;
    }

    .left_step1,
    .righet_step2,
    .left_step3,
    .righet_step4,
    .left_step5,
    .righet_step6,
    .left_step7 {
        width: 100%;
    }

    .right_step1,
    .left_step2,
    .righet_step3,
    .left_step4,
    .righet_step5,
    .left_step6,
    .righet_step7 {
        width: 0%;
}

    .left_step1,
    .righet_step2,
    .left_step3 {
        margin-bottom: 130px;
}

    .righet_step4 {
        margin-bottom: 100px;
}

    .left_step5{
        margin-bottom: 150px;
}

    .righet_step6 {
        margin-bottom: 150px;
    }

    .step3_t {
    width: 100%;
}

.require_inner {
    flex-wrap: wrap;
    padding: 20px;
}

.require_img {
    margin-bottom: 10px;
}

.on_items {
    flex-direction: column;
}

.on_inner {
    padding: 20px;
}

.on_text {
    width: 100%;
    margin-bottom: 10px;
}

.footer_top {
    flex-direction: column;
}

.footer_bottom {
    flex-direction: column;
    margin-top: 25px;
}

.footer_bottom-kontakts {
    flex-direction: column;
}

.footer_phone,
.footer_email,
.footer_astral {
    display: block;
    margin: 0 auto;
}

.footer_phone,
.footer_email {
    padding-bottom: 20px;
}

.footer_top-text2,
.footer_bottom-text2 {
    text-align: center;
}

.footer_bottom-text2 {
    padding-bottom: 20px;
    margin: 0 auto;
    width: 220px;
}

.footer_btn {
    width: 138px;
    height: 48px;
    font-size: 10px;
    padding: 20px 15px 20px 50px;
    margin-right: 10px;
}

}








